header, nav, main, footer { display: block; }
body { background-color: #ffffff;
       font-family: Verdana, Arial, sans-serif;
       margin: 0;
}
.container {
       width: 80%;
       margin: auto;
}
.menu{
       padding: 20px;
       width: 700px;
       margin: auto;
}
.intro {
       margin: 20px;
}
.menu-item{
       padding: 15px;
       margin-bottom: 10px;
}
.highlight{
       background-color:#ffffff;
}
.menu-item h3 {
       margin: 0;
       display: inline-block;
       width: 150px;
}
.menu-item p {
       display: inline-block;
       margin: 0;
}
#wrapper { 
       max-width: 960px;
       width: 90%;
           margin: auto;
		   background-color: #edbcf4;
		   box-shadow: 5px 5px 5px #000000;
}
h1 { background-image: url(../images/logo.gif);
     background-repeat: no-repeat;
     background-color: #dcb9fb;
	 height: 110px;
	 font-family: Georgia, "Bodoni MT", serif;
	 font-size: 4.5em;
     padding-left: 220px;
	 padding-top: 20px;
	 text-shadow: 3px 3px 3px #d0bd80;
        margin-top: 20px;
	 margin-bottom: 0;
}
.section{
       background: #dcb9fb;
       padding: 20px;
       margin: 20px 0;
       border-radius: 10px;
}
.text{
       flex:1;
}
.image img{
       width: 300;
       height: 200;
       border-radius: 10px;
}
nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #330000; }
nav a:visited{ color: #90745D; }
nav a:hover { color: #efe5a6; background-color: #b88ae0;height: 20px; width: 20px;}


main { background-color: #ffffff;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}
main img { 
       float: none;
       display: block;
       margin: 10px auto;
              padding: 20px;
}

footer { background-color: #ffffff;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}

img{
	float: right;
	width:250px;
}

table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 8px;
}
@media (max-width: 600px){ 
nav {
       float: none;
       width: 100%
}
main {
       margin-left:0;
}
img{
       width: 100%;
       height: auto;
}
}